* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #173e2c;
  padding: 15px;
  margin: 1.5rem;
  color: #fff;
  line-height: 1.5;
}

h1 {
  color: #039529;
  margin-bottom: 20px;
  margin-top: 3rem;
}

h2 {
  color: #039529;
  margin-top: 30px;
}

ul {
  margin-left: 20px;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}